<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
  <link rel="stylesheet" href="../utils/css/painel.css" />
  <link rel="stylesheet" href="../utils/css/figures.css" />
  <script src="../utils/jquery.js"></script>
  <script src="../utils/js/painel.js"></script>
  <title>ABC Construção - Painel Administrativo</title>
</head>

<body>
  <div class="page-wrapper chiller-theme toggled" style="max-height: 600px">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#">Painel Administrator</a>
          <div id="close-sidebar">
            <i class="fa fa-bars"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="https://scontent.fpet3-1.fna.fbcdn.net/v/t1.0-9/14681660_1751488341769373_5285975525268561794_n.jpg?_nc_cat=105&_nc_eui2=AeHHvsf9utoN8uQQz0VyaDv6SN4XAT4vXnvA7xnsJEIJ7u9XtDUeLF7yEPGc93Jtn-eHqEuYfMAmx-kXSPhHxCPOQnRMgr1h7qJ69_BzcVhX3A&_nc_ht=scontent.fpet3-1.fna&oh=d857a31eb90f6c5a2914d7d5d2643400&oe=5D0DEE70"
              alt="User picture" />
          </div>
          <div class="user-info">
            <span class="user-name">
              <strong>
                <%= administrador.nome %>
              </strong>
            </span>
            <span class="user-role">Administrator</span>
          </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>Geral</span>
            </li>
            <% for(var j = 0;j<games.length;j++) {%>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-gamepad"></i>
                  <span>
                    <%= games[j].nomeJogo %>
                  </span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <% for(var i = 0;i<scenarios.length;i++) {%>
                      <% if (games[j].id == scenarios[i].idJogo) {%>
                        <li>
                          <a href="#" class="game-loads" id="<%= scenarios[i].id %>">
                            <%= scenarios[i].sceneJogo %>
                          </a>
                        </li>
                        <% } %>
                          <% } %>
                            <li>
                              <a href="#" id="<%= games[j].id %>" class="current-scene">
                                <i class="fa fa-gamepad"></i>
                                Novo Scenario</a>
                            </li>
                  </ul>
                </div>
              </li>
              <% } %>
                <li>

                  <a href="#" class="new-game-modal" data-toggle="modal" data-target="#modal-new-game">
                    <i class="fas fa-dungeon"></i>
                    Novo jogo </a>
                </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
    </nav>
    <div style="display: inline-flex; margin-left: 290px;margin-top: 30px">
      <div class="card" style="width: 15.7rem;">
        <img class="card-img-top" src="https://is3-ssl.mzstatic.com/image/thumb/Purple5/v4/3c/07/05/3c07051a-f2ce-a79b-062a-cfcd3f8f107d/pr_source.png/246x0w.jpg"
          alt="Card image cap" width="100px" height="150px">
        <div class="card-body">
          <h5 class="card-title">Forca</h5>
          <p class="card-text">Crie seu cenário da forca personalizado com seus itens</p>
          <a href="#" class="btn btn-primary">Criar Cenário</a>
        </div>
      </div>
      <div class="card" style="width: 15.7rem;">
        <img class="card-img-top" src="https://visaonainfancia.com/wp-content/uploads/2018/04/pareamento-justaposicao_5-contornos-sombras2.jpg"
          alt="Card image cap" width="100px" height="150px">
        <div class="card-body">
          <h5 class="card-title">Pareamento</h5>
          <p class="card-text">Utilize novos métodos de ensino pedagógico</p>
          <a href="#" class="btn btn-primary">Cria Cenário</a>
        </div>
      </div>
      <div class="card" style="width: 15.7rem;">
        <img class="card-img-top" src="http://cdn1.solojavirtual.com/arquivos_loja/26183/Fotos/thumbs3/produto_Foto1_6254126.jpg?cache=20181109"
          alt="Card image cap" width="100px" height="150px">
        <div class="card-body">
          <h5 class="card-title">Ordenação</h5>
          <p class="card-text">Mantenha o aluno focado com divertidos jogos de ordenação.</p>
          <a href="#" class="btn btn-primary">Cria Cenário</a>
        </div>
      </div>
      <div class="card" style="width: 15.7rem;">
        <img class="card-img-top" src="https://www.researchgate.net/profile/Tiaraju_De_Freitas/publication/317931652/figure/fig1/AS:509713134690304@1498536489451/FIGURA-3-Jogo-sequencial-de-informacao-imperfeita-para-as-relacoes-entre-os.png"
          alt="Card image cap" width="100px" height="150px">
        <div class="card-body">
          <h5 class="card-title">Sequencialmente</h5>
          <p class="card-text">Ajude os alunos a trabalharem lógica</p>
          <a href="#" class="btn btn-primary">Cria Cenário</a>
        </div>
      </div>
      <div class="card" style="width: 15.7rem;">
        <img class="card-img-top" src="https://img.elo7.com.br/product/original/107E9D7/jogo-uno-personalizado-frozen.jpg" alt="Card image cap"
          width="100px" height="150px">
        <div class="card-body">
          <h5 class="card-title">Personalizado</h5>
          <p class="card-text">Utilize diversos modelos para criar seu próprio cenário</p>
          <a href="#" class="btn btn-primary">Cria Cenário</a>
        </div>
      </div>
    </div>
    <div class="funcs">
      <button class="newBox btn btn-outline-info">Adicionar novo elemento</button>
      <button class="btn btn-outline-secondary" id="live">Modo Live</button>
      <button class="btn btn-outline-success save">Salvar estado</button>
      <button class="btn btn-outline-primary build">Build</button>
      <button class="btn btn-outline-danger delete">Deletar</button>
      <!-- <div class="objects" style="display:inline-flex">
            <div class="object" id="rectangle" draggable="true" ondragstart="drag(event)"> </div>
            <div class="object" id="circle" draggable="true" ondragstart="drag(event)"> </div>
            <div class="object" id="triangle" draggable="true" ondragstart="drag(event)"></div>
          </div> -->
      <select class="typeBox">
        <option value="rectangle"> Retangulo </option>
        <option value="circle"> Circulo </option>
        <option value="triangle"> Triangulo </option>
        <option value="pentagono"> Petangono </option>
        <option value="hexagono"> Hexagono </option>
        <option value="quadrilatero"> Quadrilátero </option>
      </select>
      <input type="text" class="text-input">
      <button class="btn-text"> Atribuir Texto </button>
      <input type="checkbox" value="fract" class="fract"> Fracionar
      <!-- <input type="text" class="image-input">
      <button class="btn-image"> Atribuir Imagem (URL) </button> -->
    </div>
    <canvas id="canvas" width="1000" height="700" style="border: 1px solid black; margin-left: 500px">
    </canvas>
  </div>
  <!-- modal scene -->
  <div class="modal" tabindex="-1" role="dialog" id="modal-new-scene">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Novo Cenário</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name-scene">Digite o nome do novo cenário:</label>
            <input type="text" class="form-control name-scene">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary new-scene">Criar novo cenário</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal game -->
  <div class="modal" tabindex="-1" role="dialog" id="modal-new-game">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Novo Jogo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name-game">Digite o nome do novo jogo:</label>
            <input type="text" class="form-control name-game">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary new-game">Criar novo jogo</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
  <script src="../game/Stage.js"></script>
  <script src="../game/Shape.js"></script>
  <script src="../game/Rect.js"></script>
  <script src="../game/Circle.js"></script>
  <script src="../game/Triangle.js"></script>
  <script src="../game/Text.js"></script>
  <script src="../game/load.js"></script>

</html>